<nav class="navbar navbar-expand-lg navbar-light bg-light">
&emsp;
  <a class="navbar-brand" href="/products"><img src="https://jobsgo.vn/media/img/employer/533-100x100.jpg" alt="Simply Easy Learning" width="50" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="categories">Fruits<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", cart_path, class: "btn btn-link" %>
        <a class="nav-link" href="users/sign_in">Sign in<span class="sr-only">(current)</span></a>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <a class="nav-link" href="users/edit">Edit Profile<span class="sr-only">(current)</span></a>
    </form>
  </div>
</nav>