<br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Tittle</th>
      <th scope="col">Product Description</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <%= render partial: "product", collection: @products, order_item: @order_item %>
 
</table>
 <%= paginate @products, theme: 'twitter-bootstrap-3' %>
